<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      This value indicates how long till the program automatically starts mining.
      Any listed programs below will be started and kept running till the mouse is moved or the keyboard is typed on.

      This value is in milliseconds. ( 1000 = 1 second. )
    -->
    <add key="IdleTimeThreshold" value="60000" />
    <!--
      This indicates how often the program checks if the user is away from the system.
      Smaller values offer faster response times at the cost of additional CPU power.
      This thus will make your CPU miner run ( negligibly ) slower.

      Value is indicated in milliseconds. ( 1000 = 1 second )
      -->
    <add key="IdleScanFrequency" value="1000" />
    <add key="Programs" value="" />
    <!--
      Indicates one or multiple programs to run when the "IdleTimeThreshold" is reached.
      Multiple programs can be run by appending a "|" key to the end of the line.

      Example:
        C:\xmr-stak-cpu\xmr-stak-cpu C:\xmr-stak-cpu\config.txt|C:\xmr-stak-nvidia\xmr-stak-nvidia C:\xmr-stak-nvidia\config.txt

      This runs two programs located at the following paths:
        C:\xmr-stak-cpu\xmr-stak-cpu.exe ( Using configuration file C:\xmr-stak-cpu\config.txt )
        C:\xmr-stak-cpu\xmr-stak-nvidia.exe ( Using configuration file C:\xmr-stak-nvidia\config.txt )
    -->
  </appSettings>
</configuration>